<?php
$filterDictionary = $filterConfig['filterDictionary'];
$filterApplied=$filterConfig['filterApplied'];

if($flag=="t_all" || $flag=="ops_all" || $flag=="ove_slarev_all" || $flag=="tck_all" || $flag == "ccg_all" || $flag == "crg_all"){
    $report="dump";
}

if (!empty($fields['data'][$reportType][$reportSubtype][$reportSubSubtype]['filters'])) {
    ?>
     <label style="margin-left: 436px;" class="pull-left flush-left">
            <a class="fltrshw">Filter by:-</a>
        </label>
    <div class="pull-left flush-left" >
   

        <?php
            
            if($report=="dump"){
                $formAction=$appendCsvBaseUrl;
            }else{
                $formAction=$currentRelativeUrl;
            }
        ?>
        <form id="filterForm" method="get" <?php if($report!="dump"){ echo "style='display:none'";}?> action="<?php echo $formAction; ?>"  class="filterdata" id="<?php echo implode('-', explode(' ', $value)); ?>" class="pull-left flush-left">
            <div class="div-table">
            <input type="hidden" name="report" value="cs-report">
            <input type="hidden" name="type" value="<?php echo $reportType ?>">
            <input type="hidden" name="subtype" value="<?php echo $reportSubtype ?>">
            <input type="hidden" name="subsubtype" value="<?php echo $reportSubSubtype ?>">
            <?php
            $filtercount = 0;
            $numberOfFilters=0;
            foreach ($fields['data'][$reportType][$reportSubtype][$reportSubSubtype]['filters'] as $value => $filterdata) {
                if($numberOfFilters%3==0){
                    ?> 
             <div class="div-table-row">
                        <?php
                }
                $numberOfFilters++;
                $filterDetails = $filterDictionary[$filterdata['filter']];
                ?>
                <?php
                switch ($filterDetails['filterType']) {
                    case 'multiSelect':
                        ?> <div class="filterelement"><span style='<?php
                        if ($filterDetails['defaultDisplay'] == 'hide') {
                            echo 'display:none;';
                        }
                        ?>' class="tt" id="title<?php echo $filterDetails['filterRequestParam']; ?>"><?php echo strtoupper($filterDetails['filterviewname']) . ':'; ?></span><?php ?>
                        <select class="select2 multiplefield" placeholder = '<?php echo $filterDetails['filterRequestParam']; ?>' multiple id = '<?php echo $filterDetails['filterRequestParam']; ?>' name="<?php echo $filterDetails['filterRequestParam']; ?>[]" style='<?php
                if ($filterDetails['defaultDisplay'] == 'hide') {
                    echo 'display:none;';
                }
                        ?> height: 32px;margin-left: 16px;border: 1px solid #656d71;border: 1px solid #656d71;height: 32px;'>

                           
                            <?php
                            foreach ($filterDetails['data'] as $entityId => $entityValue) {
                                if ($filterDetails['handling'] == 'custom') {
                                    continue;
                                }
                                ?>

                            <option <?php if(in_array($entityId, $filterDetails['selectedValue'])){ echo 'selected';} ?> value='<?php echo $entityId ?>'><?php echo $entityValue ?></option>
                            <?php
                        }
                        ?>
                        </select></div>
                        <?php
                        break;
                    case 'Select':
                        ?>
                        <?php ?><div class="filterelement"> <span style='<?php
                        if ($filterDetails['defaultDisplay'] == 'hide') {
                            echo 'display:none;';
                        }
                        ?>'  class="tt" id="title<?php echo $filterDetails['filterRequestParam']; ?>"><?php echo strtoupper($filterDetails['filterviewname']) . ':'; ?></span><?php
                        ?>
                        <select id = '<?php echo $filterDetails['filterRequestParam']; ?>' name="<?php echo $filterDetails['filterRequestParam']; ?>" style='<?php
                            if ($filterDetails['defaultDisplay'] == 'hide') {
                                echo 'display:none;';
                            }
                            ?>height: 32px;margin-top: 17px;border: 1px solid #656d71;border: 1px solid #656d71;height: 32px;'>

                            <option value='all' <?php if($filterDetails['selectedValue']=="all"){ echo 'selected ';} ?>>--Select--</option>
                            <?php
                            foreach ($filterDetails['data'] as $entityId => $entityValue) {
                                if ($filterDetails['handling'] == 'custom') {
                                    continue;
                                }
                                $entityId=(string)$entityId;
                                $filterDetails['selectedValue']=(string)$filterDetails['selectedValue'];
                                ?>
                                <option <?php if($entityId===$filterDetails['selectedValue']){ echo 'selected ';} ?>value='<?php echo $entityId ?>'><?php echo $entityValue ?></option>
                            <?php
                        }
                        ?>
                        </select></div>
                        <?php
                        break;
                    case 'Date':
                        ?>
            <div class="filterelement"><span  class="tt">
            <?php echo $filterDetails['filterviewname']; ?></span>
            <input type="text" class="datetimepicker" placeholder="YYYY-mm-dd" style="margin-top: 17px;
    margin-bottom: 10px;" class="<?php echo $filterDetails['class']; ?>" name="<?php echo $filterDetails['filterRequestParam']; ?>"></div>
            <?php
                        break;
                }
                       if(($numberOfFilters+3)%3==0){
                    ?> 
                </div>
                        <?php
                }
                ?>
            
        <?php
    }
    ?>
            <input type="submit" <?php if($report=="dump"){echo "value='Export csv'";}else{ echo "value='Filter'";} ?>>
            </div>
                    </form>

    </div>
            
    <?php ?>




<?php } ?>

<script type="text/javascript">
$(document).ready(function(){
    $('.datetimepicker').datetimepicker({
        format:'Y-m-d'});
    var isSubIssuePresent=0;
var isSubSubIssuePresent=0;
    if ($('#it')) {
        var issueSubIssue =<?php echo json_encode($filterDictionary['issueType']['data']); ?> ;
        for (var issueId in issueSubIssue['issues']) {
            $('#it').append('<option value="' + issueId + '">' + issueSubIssue['issues'][issueId]['name'] + '</option>');
        }
        $('#it').click(function() {
            $('#ist').html('');
            $('#isst').html('');
            $("#isst").select2();
            if ($(this).val() in issueSubIssue['subIssues']) {
                var issueId = $(this).val();
                $('#ist').html('<option value="all">--Select--</option>');
                for (var key in issueSubIssue['subIssues'][issueId]) {
                    $('#ist').append('<option value="' + issueSubIssue['subIssues'][issueId][key]['id'] + '">' + issueSubIssue['subIssues'][issueId][key]['name'] + '</option>');
                }
                isSubIssuePresent=1;
            }else{
                isSubIssuePresent=0;
                isSubSubIssuePresent=0;
            }
        });
        $('#ist').click(function() {
            $('#isst').html('');
            if ($(this).val() in issueSubIssue['subsubIssues']) {
                var subIssueId = $(this).val();
                $('#isst').html('<option value="all">--Select--</option>');
                for (var key in issueSubIssue['subsubIssues'][subIssueId]) {
                    $('#isst').append('<option value="' + issueSubIssue['subsubIssues'][subIssueId][key]['id'] + '">' + issueSubIssue['subsubIssues'][subIssueId][key]['name'] + '</option>');
                }
                isSubSubIssuePresent=1;
            }else{
                isSubSubIssuePresent=0;
            }
        });
        var selectedIssue="<?php echo $filterDictionary['issueType']['selectedValue']?$filterDictionary['issueType']['selectedValue']:0;?>";
        var selectedSubIssue="<?php echo $filterDictionary['issueSubType']['selectedValue']?$filterDictionary['issueSubType']['selectedValue']:0;?>";
        <?php 
        if($filterDictionary['issueSubSubType']['selectedValue']){
            $selectedSubSubValue=json_encode($filterDictionary['issueSubSubType']['selectedValue']);
        }else{
            $selectedSubSubValue=0;
        }
        ?>
        var selectedSubSubIssue=<?php echo $selectedSubSubValue;?>;
        if(selectedIssue){
            $('#it option[value="'+selectedIssue+'"]').prop('selected',true).trigger('click');
            //$('#it option[value="'+selectedIssue+'"]').addAttr('selected','selected');
        }
        if(selectedSubIssue){
            $('#ist option[value="'+selectedSubIssue+'"]').prop('selected',true).trigger('click');
        }
        if(selectedSubSubIssue){
            for(var key in selectedSubSubIssue){
                 $('#isst option[value="'+selectedSubSubIssue[key]+'"]').attr('selected','selected');
            }
        }
       

    }
    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
$('input[type="date"]').each(function(e){
    var name=$(this).attr('name');
    if(getUrlParameter(name)){
        $(this).val(getUrlParameter(name));
    }
});
$("#filterForm").submit(function(){
    if($("#ist") && isSubIssuePresent && ($("#ist").val()=="all")){
        alert("Please select sub issue before submitting");
        return false;
    }
    if($("#isst") && isSubSubIssuePresent && $("#isst").val()==null){
         alert("Please select sub sub issue before submitting");
         return false;
    }
    if($(".fromdate") && $(".todate")){
        var fromDate=$(".fromdate").val();
        var toDate=$(".todate").val();
        if(fromDate && toDate){
            var fromDateFormat=new Date(fromDate);
            var toDateFormat=new Date(toDate);
            if(fromDateFormat>toDateFormat){
                alert("To date should be greater than or equal to from date");
                return false;
            }
        }
    }
});
    $(".multiplefield").select2({
        //var ele = $(this);
        //placeholder:$(this).attr("placeholder");
    });
    $('.fltrshw').click(function(){
        $("#filterForm").fadeToggle(600);
    })
});

</script>