<?php 

foreach ($displayData as $field=>$displayValue){?>
<tr>
    <?php foreach ($fields['data'][$reportType][$reportSubtype][$reportSubSubtype]['fields'] as $fieldDisplayName=>$fieldDataName){?>
  <?php  if(!in_array($fieldDisplayName, $fieldNotToBeDisplayed)){?>
    <td> <?php
    echo ($displayValue[$fieldDataName]);?></td>
  <?php }?>
<?php }?>
    <tr>
<?php }?>
<table>
<div class="export_bttm"><a class="export-csv no-pjax" href="<?php echo $appendInUrl;?>">Export</a>&nbsp;<i class="help-tip icon-question-sign" href="#export"></i></div>