/* REQUIRED CSS */
.tioverlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  display: none;
  text-align: center;
  overflow-y: auto;
}

/* CUSTOM CSS*/

.popup-wrapper {
    margin: 61px auto;
    display: inline-block;
    background: #fff;
    border-radius: 3px;
    /* padding: 0px; */
    text-align: left;}

.popup-content-wrapper .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  z-index: 20;
  padding: 0;
}


*{
  box-sizing: border-box;
}

html, input{
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13px;
}



button{
  border-radius: 3px;
  border: none;
  padding: 6px 12px;
  font-size: 1em;
}


.btn-default{
  background: #fff;
  border: solid 1px #bbb;
}

.btn-default:hover{
  background-color: #CCD1D9;
  color: #fff;
}

.btn-success, .btn-danger{
  color: #fff;
}

.btn-success{
  background-color: #8CC152;
}

.imgb:hover{
  background-color: #1976d2;
}

.btn-danger{
  background-color: #E9573F;
}

.btn-danger:hover{
  background-color: #FC6E51;
}

.popup-header{
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
  text-align: center;
  border-bottom: solid 1px #eee;
}

.popup-content{
  padding: 20px 30px;
}

.popup-footer{
  padding: 10px 30px;
  text-align: right;
  /*border-top: solid 1px #eee;*/
}

.form-group{
  padding: 7px 0;
}

.form-group input{
  display: block;
  border: solid 1px #eee;
  padding: 6px 12px;
  border-radius: 3px;
}

.form-group input, .form-group button{
  width: 100%;
  padding: 10px 15px;
}

#form-modal .popup-wrapper{
  width: 300px;
}