*{ margin: 0; padding: 0;}
.grid-row:after {
display: table;
clear: both;
content: '';
}
.grid4 {
width: 33.33333333%;
}
.grid5 {
width: 41.66666667%;
}
.grid6 {
width: 50%;
}
.grid7 {
width: 58.33333333%;
}
.grid8 {
width: 66.66666667%;
}
.float_left {
float: left;
}
.float_right {
float: right;
}
.margin-container {
margin-left: 25px;
margin-right: 25px;
}
.padding-container {
padding-left: 25px;
padding-right: 25px;
}
.logo {
display:block;
box-sizing:border-box;
float: left;
}
.logo img {
margin:17px 0!important;
width: 152px!important;
}
.main_width {
width: 100%!important;
}
.left_menu .topnav {
padding:0;
margin:0;
}
.left_menu .topnav ul {
padding:0;
margin:0;
display: none;
position: absolute;
background-color: #2D3A40;
}
.left_menu .topnav ul li a {
line-height: 30px;
font-size: 14px;
min-width: 200px;
border-bottom: 1px #222E34 solid;
background-image: none;
}
.left_menu .topnav ul li a:hover {
background-color: #17a5b1;
z-index: 10;
}
.left_menu .topnav li {
display:inline-block;
list-style-type:none;
position: relative;
z-index: 1;
}
.left_menu .topnav li.active {
background:#222e34;
}
.left_menu .topnav li a {
position:relative;
display:block;
text-decoration:none;
padding:0 20px;
box-sizing:border-box;
font:bold 14px/64px arial;
color:#fff;
}
.left_menu .topnav li a.dashboard:before {
background-position:2px -41px;
}
.left_menu .topnav li a.users:before {
background-position:2px -80px;
}
.left_menu .topnav li a.tickets:before {
background-position:2px -122px;
}
.left_menu .topnav li a.knowledgebase:before {
background-position:2px -166px;
}
.left_menu .topnav li:hover ul {
display: block;
}
.left_menu .topnav li.no-pjax ul li a {
padding: 0px;
}
.left_menu .topnav li.no-pjax a:before {
display: none;
}
.main_content {
width:100%;
}
.header {
background:#2d3a40;
box-sizing:border-box;
-moz-box-shadow:0px 2px 4px rgba(0,0,0,0.3);
-webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.3);
box-shadow:0px 2px 4px rgba(0,0,0,0.3);
position:relative;
}
.header .no-pjax {
margin:0;
padding:0;
float:left;
}
.header .no-pjax li {
list-style-type:none;
margin-left: 13px;
margin-right: 13px;
float:left;
font:14px/64px arial;
color:#FFF;
}
.header .no-pjax li span {
color:#46b74e;
}
.header .no-pjax li a {
text-decoration:none;
font:14px/64px arial;
color:#fff;
padding:0 0 0 30px;
position:relative;
}
.header .no-pjax li a:before {
position:absolute;
left:-4px;
width:29px;
height:26px;
bottom:0;
top:0;
margin:auto;
content:"";
background-image:url(../images/ticket_sprite.png);
background-repeat:no-repeat;
}
.header .no-pjax li a.admin_panel:before {
background-position:2px -214px;
}
.header .no-pjax li a.preferences:before {
background-position:2px -239px;
}
.header .no-pjax li a.logout:before {
background-position:-44px -167px;
height: 29px;
}
.header .no-pjax li a.profile:before {
background-position: -46px -27px;
}
.nav {
display:block;
box-sizing:border-box;
background:#222e34;
height:64px;
border-bottom:1px solid #1e292f;
overflow: hidden;
}
.nav ul {
margin:0;
}
.nav ul li {
float:left;
list-style-type:none;
margin-right:20px;
transition:all 0.2s ease 0s;
}
.nav ul li a {
font:bold 14px/61px arial;
color:#fff;
text-decoration:none;
display: block;
background-image: none;
}
.nav ul li:hover, .nav ul li.active {
border-bottom:2px solid #337ab7;
}
.nav ul li a span {
color:#bbbbbb;
font-weight:normal;
}
.search_section {
background:#222e34;
padding:10px 0px;
box-sizing:border-box;
display:block;
}
.search_section form input[type="submit"] {
float:left;
width:60px;
height:32px;
-moz-box-shadow:0px 2px 4px rgba(0,0,0,0.3);
-webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.3);
box-shadow:0px 2px 4px rgba(0,0,0,0.3);
text-align:center;
color:#fff;
border:none;
border-radius:3px;
margin-right:24px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
background: url(../images/ticket_sprite.png) no-repeat -31px -253px #fff;
outline: none;
}
.search_section form a {
color:#fff;
text-decoration:none;
margin-top:6px;
font:14px arial;
float:left;
}
.search_section .search_box {
position: relative;
}
.help_icon {
float:left;
margin-left:10px;
width:16px!important;
height:16px !important;
background:url(../images/ticket_sprite.png) no-repeat -7px -268px!important;
margin-top:8px!important;
font-size: 0;
}
.search_section form input[type="text"] {
float: left;
width: 190px;
border: 1px solid #656d71;
border-right: 0;
height: 32px;
color: #bbbbbb;
background: none;
outline: none;
padding-left: 10px;
box-sizing: border-box;
}

 #searchParam {
        width: 100px;
        height: 32px;   
        float: left;
        border: 1px solid #656d71;
        float: left;
        width: 93px;
        border: 1px solid #656d71;
        border-right: 0;
        height: 32px;
        color: #bbbbbb;
        background: none;
        outline: none;
        padding-left: 10px;
        box-sizing: border-box;
    }