*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a {
    text-decoration: none;
    color: #1976d2;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.clear{ clear: both;}
.grid-row:after {
    display: table;
    clear: both;
    content: '';
}
i.help-tip {
    vertical-align: inherit;
    color: #aaa;
    opacity: 0.8;
}
i.help-tip:hover {
    color: orange !important;
    cursor: pointer;
    opacity: 1;
}
.widgetHead{
    text-align: center;
    padding:5px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: #337AB7;
}
.margin-container {
    margin-left: 25px;
    margin-right: 25px;
}
.padding-container {
    padding-left: 25px;
    padding-right: 25px;
}
.grid1 {
    width: 8.33333333%;
}
.grid2 {
    width: 16.66666667%;
}
.grid3 {
    width: 25%;
}
.grid4 {
    width: 33.33333333%;
}
.grid5 {
    width: 41.66666667%;
}
.grid6 {
    width: 50%;
}
.grid7 {
    width: 58.33333333%;
}
.grid8 {
    width: 66.66666667%;
}
.grid9 {
    width: 75%;
}
.grid10 {
    width: 83.33333333%;
}
.grid11 {
    width: 91.66666667%;
}
.grid12 {
    width: 100%;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.button_blue {
    display:inline-block;
    padding: 0 15px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-sizing: border-box;
}


.logo {
    display:block;
    box-sizing:border-box;
    float: left;
}
.logo img {
    margin:17px 0!important;
    width: 152px!important;
}
.main_width {
    width: 100%!important;
}
.content_bg {
    background: #eaeaea;
}
.left_menu .topnav {
    padding:0;
    margin:0;
}
.left_menu .topnav ul {
    padding:0;
    margin:0;
    display: none;
    position: absolute;
    background-color: #2D3A40;
}
.left_menu .topnav ul li a {
    line-height: 30px;
    font-size: 14px;
    min-width: 200px;
    border-bottom: 1px #222E34 solid;
    background-image: none;
}
.left_menu .topnav ul li a:hover {
    background-color: #17a5b1;
    z-index: 10;
}
.left_menu .topnav li {
    display:inline-block;
    list-style-type:none;
    position: relative;
    z-index: 1;
}
.left_menu .topnav li.active {
    background:#222e34;
}
.left_menu .topnav li a {
    position:relative;
    display:block;
    text-decoration:none;
    padding:0 20px;
    box-sizing:border-box;
    font:bold 14px/64px arial;
    color:#fff;
}
.left_menu .topnav li a.dashboard:before {
    background-position:2px -41px;
}
.left_menu .topnav li a.users:before {
    background-position:2px -80px;
}
.left_menu .topnav li a.tickets:before {
    background-position:2px -122px;
}
.left_menu .topnav li a.knowledgebase:before {
    background-position:2px -166px;
}
.left_menu .topnav li:hover ul {
    display: block;
}
.left_menu .topnav li.no-pjax ul li a {
    padding: 0px;
}
.left_menu .topnav li.no-pjax a:before {
    display: none;
}
.main_content {
    width:100%;
}
.header {
    background:#2d3a40;
    box-sizing:border-box;
    -moz-box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    position:relative;
}
.header .no-pjax {
    margin:0;
    padding:0;
    float:left;
}
.header .no-pjax li {
    list-style-type:none;
    margin-left: 13px;
    margin-right: 13px;
    float:left;
    font:14px/64px arial;
    color:#FFF;
}
.header .no-pjax li span {
    color:#05f9e6;
}
.header .no-pjax li a {
    text-decoration:none;
    font:14px/64px arial;
    color:#fff;
    padding:0 0 0 30px;
    position:relative;
}
.header .no-pjax li a:before {
    position:absolute;
    left:-4px;
    width:29px;
    height:26px;
    bottom:0;
    top:0;
    margin:auto;
    content:"";
    background-image:url(../images/ticket_sprite.png);
    background-repeat:no-repeat;
}
.header .no-pjax li a.admin_panel:before {
    background-position:2px -214px;
}
.header .no-pjax li a.preferences:before {
    background-position:2px -239px;
}
.header .no-pjax li a.logout:before {
    background-position:-44px -167px;
    height: 29px;
}
.header .no-pjax li a.profile:before {
    background-position: -46px -27px;
}
.nav {
    display:block;
    box-sizing:border-box;
    background:#222e34;
    height:64px;
    border-bottom:1px solid #1e292f;
    overflow: hidden;
}
.nav ul {
    margin:0;
}
.nav ul li {
    float:left;
    list-style-type:none;
    margin-right:20px;
    transition:all 0.2s ease 0s;
}
.nav ul li a {
    font:bold 14px/61px arial;
    color:#fff;
    text-decoration:none;
    display: block;
    background-image: none;
}
.nav ul li a.active{ color: #17A6B2; border-bottom:2px solid #17A6B2;}

.nav ul li:hover, .nav ul li.active {
    border-bottom:2px solid #17A6B2;
}
.nav ul li a span {
    color:#bbbbbb;
    font-weight:normal;
}
.search_section {
    background:#222e34;
    padding:10px 0px;
    box-sizing:border-box;
    display:block;
}
.search_section form input[type="submit"] {
    float:left;
    width:60px;
    height:32px;
    -moz-box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    text-align:center;
    color:#fff;
    border:none;
    border-radius:3px;
    margin-right:24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: url(../images/ticket_sprite.png) no-repeat -31px -253px #fff;
    outline: none;
}
.search_section form a {
    color:#fff;
    text-decoration:none;
    margin-top:6px;
    font:14px arial;
    float:left;
}
.search_section .search_box {
    position: relative;
}
.help_icon {
    float:left;
    margin-left:10px;
    width:16px!important;
    height:16px !important;
    background:url(../images/ticket_sprite.png) no-repeat -7px -268px!important;
    margin-top:8px!important;
    font-size: 0;
}
.search_section form input[type="text"] {
    float: left;
    width: 190px;
    border: 1px solid #656d71;
    border-right: 0;
    height: 32px;
    color: #bbbbbb;
    background: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}
.container_section {
    padding:20px;
    box-sizing:border-box;
}
.container_section .left_tickets_link {
    background-color: #fff;
    border-top: 0;
    border-style: none;
}
.left_tickets_link > h3 {
    text-align: left;
    font-size: 16px;
    color: #1976D2;
    padding: 17px 0 0 10px
}
.left_tickets_link .left_slide_bar {
    padding: 15px 0;
    border-top: 0;
}
.left_tickets_link .left_slide_bar > h3 {
    font-size: 14px;
    color: #3f3f3f!important;
    font-weight: bold;
    display: block;
    padding: 10px 0 10px 10px;
    outline: none;
    position: relative;
    cursor: pointer;
}
.left_tickets_link .left_slide_bar > h3 i {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px #3f3f3f solid;
    border-bottom: 2px #3f3f3f solid;
    transform: rotate(-137deg) skew(0deg);
    -webkit-transform:rotate(-137deg) skew(0deg);
    -ms-transform:rotate(-137deg) skew(0deg);
}
.left_tickets_link .left_slide_bar ul {
    list-style: none;
    border-bottom: 1px #ccc solid;
    padding-left: 25px;
}
.left_tickets_link .left_slide_bar ul li {
    position: relative;
}
.left_tickets_link .left_slide_bar ul ul li a {
    color: #555555;
}
.left_tickets_link .left_slide_bar ul ul {
    border: 0;
    padding-bottom: 10px;
    padding-left: 10px;
}
.left_tickets_link .left_slide_bar ul ul:not(.showAlways) {
    display: none;
}
.left_tickets_link .left_slide_bar ul li a {
    color: #555555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    position: relative;
    font-size: 12px;
}
.left_tickets_link .left_slide_bar ul li span {
    position: absolute;
    right: 5px;
    background-color: #9d9d9d;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    min-width: 30px;
    width: inherit;
    height: 20px;
    text-align: center;
    line-height: 20px;
    padding-left:2px;
    padding-right:2px;
}
.left_tickets_link .left_slide_bar ul li ul span{
    background-color: #9F9FFF;
    right: 20px;
}
.left_tickets_link .left_slide_bar ul li ul li ul span{
    background-color: #9FFF9F;
    right: 35px;
}
.left_tickets_link .left_slide_bar a.active{ color: #1976D2;}
/* heading_action_section */
.heading_action_section {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 15px 0;
    background: #fff;
    border: 1px #dcdcdc solid;
    border-top: 0;
    border-bottom: 0;
}
.heading_action_section h2 {
    padding-top: 10px;
    padding-left: 20px;
}
.heading_action_section h2 a {
    font-size: 16px;
    color: #1976d2;
    text-decoration: none;
}
.heading_action_section h2 a i {
    float: right;
    position: relative;
    top: 8px;
    margin-left: 8px;
    margin-right: 10px;
}
.heading_action_section .shor_by, .heading_action_section .delete_by {
    margin: 16px 15px 0 15px;
    color: #9d9d9d;
    font-size: 14px;
}
.heading_action_section .scroll-up {
    position: relative;
    top: 15px;
    color: #1976D2;
    font-size: 14px;
    display: none;
}
/* end_heading_action_section */

/* table-section */
.table_section {
    padding-left: 20px;
}
.table_section form {
    background-color: #fff;
    border: 1px #dcdcdc solid;
    border-top: 0;
    box-shadow: 0px 7px 2px -4px #b2b2b2;
}
.table_section table {
    width: 100%;
}
.table_section td input[type="checkbox"] {
    display: none;
}
.table_section td input[type="checkbox"] + label {
    position: relative;
}
.table_section td input[type="checkbox"] + label:before {
    background: url(../images/ticket_sprite.png) no-repeat;
    background-position: -6px -382px;
    content: ' ';
    width: 25px;
    height: 18px;
    left: 7px;
    position: absolute;
}
.table_section td input[type="checkbox"]:checked + label:before {
    background-position: -6px -407px;
}
.table_section th, .table_section td, .table_section th a {
    text-align: left;
    color:#000;
    font:bold 12px arial;
    padding:5px;
    text-decoration: none;
    vertical-align: top;
}
.table_section td {
    border-top:1px solid #ddd;
    color:#555555;
    font:14px arial;
    padding: 8px 5px;
    vertical-align: top;
}
.table_section td a {
    color:#1976d2;
    font-size:14px;
    padding:5px;
    text-decoration: none;
}
/* pagination_bar */
.paging {
    background: #fff;
    padding: 10px 0;
}
.paging a {
    font-size: 14px;
    color: #555555;
    text-decoration: none;
    padding: 0 10px;
}
.paging span {
    padding: 5px 10px;
    background: #9d9d9d;
    color: #fff;
}
.export_bttm {
    float: right;
    color: #ddae1f;
    margin-right: 10px;
}
/* end_pagination_bar */

.footer {
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #999999;
}
/* advanced_search */
.advanced_search h3 {
    font-size: 18px!important;
    padding: 10px 0!important;
}
.advanced_search form {
    margin: 10px 0;
}
.advanced_search fieldset input[type="text"] {
    width: 96%;
    outline: none;
    padding: 2px 5px;
    font-size: 12px;
    margin-bottom: 10px;
}
.advanced_search fieldset label {
    font-size: 12px;
    color: #4C5156;
    display: block;
    margin: 5px 0;
}
.advanced_search fieldset input[type="checkbox"] {
    vertical-align: middle;
}
.advanced_search hr {
    margin: 6px 0;
}
.advanced_search .save_seacrh_row {
    border-left: 1px solid #888;
    padding-bottom: 26px;
    padding-left: 15px;
}
.advanced_search .save_search_text {
    font-size: 12px!important;
    color: #4C5156;
}
.advanced_search .saved_searches .saved-search {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 5px 0;
}
.advanced_search .saved_searches .saved-search a i {
    margin-top: 0!important;
}
/* end_advanced_search */

/* commen_css_start */
#loading, #upgrading {
    display: none;
}
.arrow_up {
    transform: rotate(-90deg) skew(4deg)!important;
    -webkit-transform:rotate(-90deg) skew(4deg) !important;
    -ms-transform:rotate(-90deg) skew(4deg)!important;
}
.arrow {
    position: absolute;
    left: -14px;
    top: 12px;
    width: 7px;
    height: 7px;
    background: transparent;
    border-left: 2px #3f3f3f solid;
    border-bottom: 2px #3f3f3f solid;
    transform: rotate(-45deg) skew(4deg);
    -webkit-transform:rotate(-45deg) skew(4deg);
    -ms-transform:rotate(-45deg) skew(4deg);
}
.dialog {
    position: fixed;
    padding: 1em;
    width: 500px;
    height: 250px;
    height: auto !important;
    background: #f8f8f8;
    border: 2px solid #2a67ac;
    display: none;
    z-index: 10;
    box-shadow: 0 5px 60px #001;
    border-radius: 5px;
    max-height: 72%;
    min-height: 50px;
    overflow-y: auto;
}
.dialog {
    position:fixed;
    padding:1em;
    width:500px;
    height:250px;
    height:auto !important;
    background:#f8f8f8;
    border:2px solid #2a67ac;
    display:none;
    z-index:10;
    box-shadow: 0 5px 60px #001;
    border-radius: 5px;
    max-height: 72%;
    min-height: 50px;
    overflow-y: auto;
}
.dialog#popup {
    width:650px;
}
.dialog.size-normal {
    width:650px !important;
}
.dialog.size-large {
    width:750px !important;
}
.dialog #popup-loading {
    position:absolute;
    text-align:center;
    background:rgba(255,255,255,0.8);
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:11;
}
.dialog#advanced-search {
    width:640px !important;
    height:360px;
}
.dialog hr {
    height: 1px;
    border: 0;
    background: #aaa;
    background: -moz-linear-gradient(left, rgba(170,170,170,0) 0%, rgba(170,170,170,1) 10%, rgba(170,170,170,1) 90%, rgba(170,170,170,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(170,170,170,0)), color-stop(10%, rgba(170,170,170,1)), color-stop(90%, rgba(170,170,170,1)), color-stop(100%, rgba(170,170,170,0))); /* Chrome,Safari4+ */
    background: -o-linear-gradient(left, rgba(170,170,170,0) 0%, rgba(170,170,170,1) 10%, rgba(170,170,170,1) 90%, rgba(170,170,170,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(170,170,170,0) 0%, rgba(170,170,170,1) 10%, rgba(170,170,170,1) 90%, rgba(170,170,170,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(170,170,170,0) 0%, rgba(170,170,170,1) 10%, rgba(170,170,170,1) 90%, rgba(170,170,170,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaaaaa', endColorstr='#00aaaaaa', GradientType=1 ); /* IE6-9 */
}
.dialog h3 {
    color:#2a67ac;
    font-size:20px;
    margin:0;
    padding:0;
    position: relative;
    padding-right: 3em;
}
.dialog a {
    color:#184E81;
}
.dialog a.close {
    position: absolute;
    display:inline-block;
    right: 1em;
    top: 1em;
    font-size:16px;
    color:#777;
}
.dialog form {
    clear:both;
    width:100%;
}
.dialog fieldset {
    margin:0;
    padding:0 0;
    border:none;
}
.dialog label.fixed-size {
    width:100px;
    display:inline-block;
    text-align:right;
    padding:10px;
}
.dialog fieldset input:not([type=checkbox]) {
    border:1px solid #ccc;
    background:#fff;
    padding: 3px;
}
.dialog fieldset span.between {
    width:50px;
    display:inline-block;
    text-align:center;
    color:#777;
    font-size:0.75em;
}
.dialog ul.tabs, .dialog ul.tabs * {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.dialog.draggable h3.drag-handle:hover {
    cursor: move;
}
.search-dropdown {
    padding-left: 19px;
}
.adv-search-field {
    margin-top: 5px !important;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9;
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 0.5;
}
.icon-warning-sign {
    color: #d33;
}
.tip_box {
    display: block;
    height: 30px;
    position: absolute;
    z-index: 5;
}
.doc-desc-title {
    font-weight: bold;
    text-transform: capitalize;
}
.tip_close {
    position: absolute;
    top: 0.3em;
    right: 0.5em;
    text-decoration: none;
}
.tip_close i {
    text-decoration: none;
    color: #184E81;
}
#msg_warning, .warning-banner {
    margin: 0;
    padding: 5px 10px 5px 36px;
    margin-bottom: 10px;
    border: 1px solid #f26522;
    background: url('../images/icons/alert.png') 10px 50% no-repeat #ffffdd;
    font-size: 12px;
}
.tip_arrow {
    display: block;
    position: absolute;
    top: 5px;
    left: -12px;
    width: 12px;
    z-index: 102;
}
#loading {
    border: 3px solid #777;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    background: #555 url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAWUlEQ…6EOwbMcsYXhIYyUlvTgXUeS1vzkXWG8OMRXCE0b+AJAtgB7jEc+2fs6e8AAAAASUVORK5CYII=') repeat;
    position: fixed;
    display: none;
    z-index: 3000;
    box-shadow: 0 5px 20px #001;
    vertical-align: middle;
}
#loading h1 {
    margin: 3px 0 0 0;
    padding: 0;
    color: #d80;
}
.success {
    color:#35861A;
    display: block;
    padding: 10px 0;
}
.success a {
    color: #000;
    text-decoration: underline;
}
.fail {
    color: #C63131;
    display: block;
    padding: 10px 0;
}
.border_active {
    border-bottom: 1px #fff solid;
}
.spinner {
    display: none;
}
.tip_content {
    height:auto !important;
    height:20px;
    min-height:20px;
    padding:10px;
    border:1px solid #666;
    background:#fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.5);
    z-index:3;
    position:absolute;
    top:0;
    left:-1px;
    min-width:400px;
    line-height: 1.45rem;
}
.tip_content h2 {
    margin: 0 0 0.7em;
    padding: 0;
    font-size: 1em;
    color: #0A568E;
}
.tip_content form {
    display:none;
    line-height:24px;
}
.tip_content select, .tip_content textarea {
    width:295px;
}
.tip_content textarea {
    padding:0;
    border:1px solid #aaa;
    background:#fff;
}
.tip_content form p {
    margin:0;
    width:auto !important;
    width:295px;
    text-align:right;
    line-height:1.5em;
}
.tip_content h1 {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0.4em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    padding-right: 1.5em;
}
.tip_menu {
    margin:10px 0 0 0;
    padding:5px 0;
    border-top:1px solid #aaa;
    height:16px;
    font-size:0.9em;
}
.tip_menu li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
.tip_menu li a {
    display:block;
    width:auto;
    float:left;
    padding:0 10px;
    border-right:1px solid #ddd;
    color:#666;
}
.tip_menu li a:hover {
    color:#E76C74;
}
ul.tabs {
    padding:4px 0 0 20px;
    margin:0;
    text-align:left;
    height:29px;
    border-bottom:1px solid #aaa;
    background:#4AB350;
    position: relative;
    box-shadow: inset 0 -5px 10px -9px rgba(0,0,0,0.3);
}
ul.tabs li {
    margin:0;
    padding:0;
    display:inline-block;
    list-style:none;
    text-align:center;
    min-width:130px;
    font-weight:bold;
    height:28px;
    line-height:20px;
    color:#444;
    display:inline-block;
    outline:none;
    position:relative;
    bottom:1px;
    background:#fbfbfb;
    background-color: rgba(251, 251, 251, 0.5);
    border:1px solid #ccc;
    border:1px solid rgba(204, 204, 204, 0.5);
    border-bottom:none;
    position: relative;
    bottom: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 95%;
}
ul.tabs li.active {
    color:#184E81;
    background-color:#f9f9f9;
    border:1px solid #aaa;
    border-bottom:none;
    text-align: center;
    border-top:2px solid #81a9d7;
    bottom: 0;
    box-shadow: 4px -1px 6px -3px rgba(0,0,0,0.2);
}
ul.tabs li:not(.active) {
    box-shadow: inset 0 -5px 10px -9px rgba(0,0,0,0.2);
}
ul.tabs.clean li.active {
    background-color: white;
}
ul.tabs li a {
    font-weight: 300;
    line-height: 20px;
    color: #444;
    color: rgba(0,0,0,0.6);
    display: block;
    outline: none;
    padding: 5px 10px;
}
ul.tabs li a:hover {
    text-decoration: none;
}
ul.tabs li.active a {
    font-weight: bold;
    color: #222;
    color: rgba(0,0,0,0.8);
}
ul.tabs li.empty {
    padding: 5px;
    border: none !important;
}
ul.tabs.vertical {
    display: inline-block;
    height: auto;
    border-bottom: initial;
    border-right: 1px solid #aaa;
    padding-left: 0;
    padding-bottom: 40px;
    padding-top: 10px;
    background: transparent;
    box-shadow: inset -5px 0 10px -9px rgba(0,0,0,0.3);
}
ul.tabs.vertical.left {
    float: left;
    margin-right: 9px;
}
ul.tabs.vertical li {
    border:1px solid #ccc;
    border:1px solid rgba(204, 204, 204, 0.5);
    border-right: none;
    min-width: 0;
    display: block;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    right: 0;
    height: auto;
}
ul.tabs.vertical li:not(.active) {
    box-shadow: inset -5px 0 10px -9px rgba(0,0,0,0.3);
}
ul.tabs.vertical li + li {
    margin-top: 5px;
}
ul.tabs.vertical li.active {
    border: 1px solid #aaa;
    border-left: 2px solid #81a9d7;
    border-right: none;
    right: -1px;
    box-shadow: -1px 4px 6px -3px rgba(0,0,0,0.3);
}
ul.tabs.vertical.left li {
    text-align: right;
}
ul.tabs.vertical li a {
    padding: 5px;
}
ul.tabs.alt {
    background-color:initial;
    border-bottom:2px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.1);
    box-shadow:none;
}
ul.tabs.alt li {
    width:auto;
    border:none;
    min-width:0;
    box-shadow:none;
    bottom: 1px;
    height: auto;
}
ul.tabs.alt li.active {
    border:none;
    box-shadow:none;
    background-color: transparent;
    border-bottom:2px solid #81a9d7;
}
.ticket_info th , .ticket_info td {
    text-align:left;
    width: 50%;
}
.ticket_info {
    background:#F4FAFF;
    font-size: 12px;
    line-height: 20px;
}
.dialog#advanced-search {
    width:640px !important;
    height:360px;
}
.hidden {
    display: none;
}
.scroll-up {
    display: none;
}
.type-icon {
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 4px 6px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.1em;
    border: 1px solid #eee;
    vertical-align: top;
    position: relative;
}
/*ticket_info*/
.ticket_status {
    padding: 0 20px;
}
.ticket_status select {background-color: #ffffff;
                       background-image: none;
                       border: 1px solid #cacaca;
                       color: #333333;
                       display: inline-block;
                       font-size: 14px;
                       height: 28px;
                       line-height: 1.42857;
                       background: url(../images/ticket_sprite.png) no-repeat right -231px;
                       padding-right: 19px;
                       -webkit-appearance: none;
                       -moz-appearance:none;
                       -ms-appearance:none;
                       -o-appearance:none;
                       padding-left: 10px;
                       outline:none;
                       margin: 5px 0;}
.ticket_status input[type="text"]{border: 1px solid #cacaca; padding: 5px; outline: none; }
.ticket_status table h2 {
    padding-top:5px;
}
.ticket_status > table {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 3px 1px -3px #c0c0c0;
    border: 1px #dcdcdc solid;
}
.ticket_status table h2 a {
    font-size: 16px;
    color: #1976d2;
    text-decoration: none;
}
.user_ticket_bar {
    width: 100%!important;
    padding: 10px;
}
.user_ticket_bar h2 {
    color: #3f3f3f;
    font-size: 16px;
    padding: 10px 0;
}
.status_dropdown {
    display: inline-block;
    width: 184px;
    height: 34px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #337ab7!important;
    font: 14px/34px arial;
    text-transform: uppercase;
    text-indent: 24px;
    position: relative;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    margin-right: 21px;
}
.status_dropdown:before {
    width: 15px;
    height: 18px;
    position: absolute;
    left: 10px;
    top: 8px;
    background: url(../images/ticket_sprite.png) no-repeat -8px -321px;
    content: "";
}
.status_dropdown:after {
    width: 12px;
    height: 7px;
    position: absolute;
    right: 10px;
    top: 14px;
    background: url(../images/ticket_sprite.png) no-repeat -8px -372px;
    content: "";
}
.action_box {
    width: 100%;
    overflow: hidden;
    padding:12px 15px 0 0;
}
.action_box .action-button {
    background-color: #337ab7!important;
    display:inline-block;
    padding:10px;
    box-sizing: border-box;
    color: #fff;
    margin: 0 5px;
}
.action_box .action-button i {
    border: 0!important;
    height: inherit!important;
    margin: 0!important;
    padding: 1px 0px 0px 10px!important;
}
.order_details_container .order_details_widget {
    background-color: #fff;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 0px 3px 1px -3px #c0c0c0;
    font-size: 14px;
}
.order_details_container .order_details_widget table td:nth-of-type(1){ width: 28%;}
.order_details_container .order_details_widget table td:nth-of-type(2){ width: 66%;}
.ticket_right_sidebar {
    overflow: hidden;
}
.ticket_right_sidebar .ticket_form {
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
}
.ticket_right_sidebar .ticket_form table td {
    padding: 5px 0;
}
.ticket_right_sidebar .ticket_form table td select {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cacaca;
    color: #333333;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    background: url(../images/ticket_sprite.png) no-repeat right -227px;
    padding-right: 19px;
    -webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    padding-left: 10px;
    outline:none;
    max-width: 114px;
}
.ticket_right_sidebar .ticket_form table td input[type="button"] {
    background-color: #1976d2;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
}
.tab_panel {
    margin-top: 20px;
}
.tab_panel h2 {
    font-size: 16px;
    color:#444444;
    background: #fff;
    padding: 15px 0 10px 21px;
}
.tab_panel ul {
    width:100%;
    margin:0;
    box-sizing:border-box;
    border-bottom:1px solid #ddd;
    box-shadow: none;
    height: inherit;
    padding: 0;
    padding-left: 9px;
    overflow: hidden;
    background: #fff;
    padding-top: 15px;
}
#ticket_tabs_container {
    clear: both;
}
.tab_panel ul li {
    list-style-type:none;
    float:left;
    min-width: inherit;
    height: inherit;
    border: none;
}
.tab_panel ul li.active {
    background: transparent!important;
    box-shadow: none;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    background: #fff;
}

.tab_panel ul li a {
    float:left;
    text-decoration:none;
    line-height:37px;
    color:#337ab7;
    padding:0 22px;
    box-sizing:border-box;
    border:1px solid #fff;
    transition:0.5s all 0s ease;
    border: none;
}
.tab_panel .tab_content {
    padding: 0;
}
.tab_panel .tab_content .thread_content {
    background: #fff;
    padding: 0 1px 10px 0px;
    margin-bottom: 20px;
}
.tab_panel .tab_content .thread_content .error_bar {
    background: transparent;
    padding: 10px 10px 10px 43px;
}
.tab_panel .tab_content .thread_content .commnent_profile_img {
    width: 26px;
    height: 26px;
    margin-top: 7px;
    margin-left: 7px;
}
.tab_panel .tab_content .thread_content .commnent_profile_img img {
    max-width: 100%;
}
.tab_panel .tab_content .thread_content .text_comments {
    border-bottom: 1px #ccc dotted;
    margin-bottom: 10px;
    padding-left: 45px;
}
.tab_panel .tab_content .thread_content .thread-event {
    padding: 0 2px 15px;
    margin-left: 38px;
}
.tab_panel .tab_content .text_pluging_bar {
    background: #fff;
}
.tab_panel .tab_content .text_pluging_bar .plugin_bar {
    padding: 20px;
}
.tab_panel .tab_content .text_pluging_bar .plugin_bar table td {
    padding: 10px 0;
    vertical-align:baseline;
    color: #555;
    font-size: 13px;
}
.tab_panel .tab_content .text_pluging_bar .plugin_bar table td select {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cacaca;
    color: #333333;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    background: url(../images/ticket_sprite.png) no-repeat right -227px;
    padding-right: 19px;
    -webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    padding-left: 10px;
    outline:none;
}
.tab_panel .tab_content .text_pluging_bar .plugin_bar .add_recipients {
    display: inline-block;
    padding: 0 15px;
    background-color: #337ab7;
    line-height: 34px;
    text-align: right;
    position: relative;
    text-decoration: none;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-sizing: border-box;
    margin-right: 20px;
    text-transform: uppercase;
    border: 0;
}
.tab_panel .tab_content .text_pluging_bar .plugin_bar .add_recipients a {
    color: #fff;
    font-size: 14px;
    padding-left: 18px;
}
.add_recipients:before {
    background: url(../images/ticket_sprite.png) no-repeat -53px -139px;
    position: absolute;
    left: 10px;
    top: 6px;
    width: 20px;
    height: 20px;
    content: '';
}
.tab_panel .tab_content .text_pluging_bar .plugin_bar .redactor-box {
    margin-top: 20px;
}
.tab_panel .tasks_content{ background: #fff; overflow: hidden; padding: 10px;}
.tab_panel .tasks_content .showing_task{ padding: 10px 0;}
.tab_panel .tasks_content .button_bar .action-button{ float: left;    margin: 0px 10px;    border: 1px #ccc solid;
                                                      padding: 5px}
.tab_panel .tasks_content .button_bar .action-button i.icon-caret-down{padding-top: 2px;}
.tab_panel .tasks_content .action-dropdown ul li{ float: none;}
.buttons {
    display: inline-block;
    padding: 0 15px;
    background-color: #337ab7;
    line-height: 34px;
    text-align: right;
    position: relative;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-sizing: border-box;
    margin-right: 20px;
    text-transform: uppercase;
    border: 0;
}
.current-info{
    cursor:pointer;
}
#msg_error{
    border: 1px solid red;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 2px 6px 0px rgb(255, 207, 207);
    background: rgb(255, 207, 207) none repeat scroll 0% 0%;
}
#msg_notice{
    border: 1px solid green;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 2px 6px 0px rgb(2017, 255, 207);
    background: rgb(207, 255, 207) none repeat scroll 0% 0%;
}

#msg_success{
    border: 1px solid green;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 2px 6px 0px rgb(2017, 255, 207);
    background: rgb(207, 255, 207) none repeat scroll 0% 0%;
}
#ui-datepicker-div{
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    width: 200px;
    padding: 10px;
    box-shadow: 1px 1px 15px 1px rgb(0, 0, 0);
}
.displayClosedDetails{
    cursor: pointer;
}
.displayClosedDetailsArrow{
    cursor: pointer;
    position: relative;
    float: right;
    top: -6px;
}
i{
    cursor:pointer;
}

.task-list-response,.task-list-due,.task-list-status,.task-list-updated,.task-list-type{
    text-overflow: ellipsis;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
}
.en-hov:hover {
    overflow: visible;
    white-space: normal;
}

.task-list-source{
    text-overflow: ellipsis;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
}


.bulkFixView{
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    width: 235px;
}
.bulkFixView h4{
    border-top:0px !important;
}
.bulk_bigger{
    width: 500px;
    box-shadow: 0px 0px 1px 1px rgb(25, 118, 210);
    height: 500px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    z-index: 100000;
    top: 0px;
    margin-top: 28px;
}
.bulk_bigger h4{border-top:0px !important;}
.bulk_bigger #commentBulk{
    width:400px !important;
    height:190px;
}
.bulk_bigger select{
    width:400px !important;
}

.ajaxPDtitle {display:inline-block;position: relative;color: gray;font-size: 11px;margin-right:5px}
.ajaxPDvalue {display:inline-block;position: relative;font-weight:bold;font-size:11px}
.hoverIn { cursor: pointer;color:blue }
.padding10 {padding:2px 0px 2px 0px}


#searchParam {
    width: 100px;
    height: 32px;   
    float: left;
    border: 1px solid #656d71;
    float: left;
    width: 93px;
    border: 1px solid #656d71;
    border-right: 0;
    height: 32px;
    color: #ffffff;
    background: #222e34;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}
.shp_table {
    border: 1px solid #428bca;
    font-family: Tahoma, Arial, Verdana, Helvetica sans-serif;
    padding: 5px 15px;
    border: thin solid rgb(66, 139, 202); 
    border-collapse: collapse; 
    width:100%;
    overflow-y: visible;
}
.close_task_dialog{
    text-align: center;
}
.close_task_dialog >.ui-dialog-buttonpane>.ui-dialog-buttonset>.ui-button{
    margin-right:10px;
}
#tracking_popup{
    text-align: center;
    background-color: #FFFFFF; 
    border-color: #E0E0E0 #D4D4D4 #BBBBBB; 
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: solid; 
    border-width: 1px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    margin: 0 30px 50px; 
    padding: 7px 21px 3px; 
    position:fixed;
    left:65%;
    top:100px; 
    display:none;
    margin-left: -450px; 
    z-index: 9999;
}

#tracking_popup p a{
    background:url('http://cdn.shopclues.com/images/skin/sprite_png_icon.png') no-repeat scroll -74px -1px transparent; 
    width:30px; 
    height:30px; 
    float:right; 
    position: absolute;
    right: -2px; 
    top: -3px; 
    width: 30px;
    z-index: 3333;
}
.xdsoft_datetimepicker{
    z-index:9999999999 !important;
}
.inline-button{
    box-shadow: 0px 0px 3px 0px;
    padding: 1px;
    background: #ccc;
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}
/* The Modal (background) */
                            .modal {
                                display: none; /* Hidden by default */
                                position: fixed; /* Stay in place */
                                z-index: 1; /* Sit on top */
                                padding-top: 100px; /* Location of the box */
                                left: 0;
                                top: 0;
                                width: 100%; /* Full width */
                                height: 100%; /* Full height */
                                overflow: auto; /* Enable scroll if needed */
                                background-color: rgb(0,0,0); /* Fallback color */
                                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                            }
                            .input_box{
                                    margin-bottom: 10px;
                            }
                            .custom_model_input {
                                padding: 15px 15px;
                                box-sizing: border-box;
                            }

                            /* Modal Content */
                            .modal-content {
                                max-height: 100%;
                                max-width: 811px;
                                min-height: 300px;
                                margin: auto;
                                top: 50%;
                                color: rgba(0, 0, 0, 0.81);
                                width: 80%;
                            }
                            .modal__header {
                                background: #222E34;
                                color: #fff;
                                padding: 15px;
                                position: relative;
                              }
                              .modal__title {
                                font-size: 19px;
                              }
                              .submit-btn {
                                background: #222E34;
                                color: #fff;
                                cursor: pointer;
                                font-size: 19px;
                                height: 34px;
                                right: 0;
                                top: 0;
                                width: 91px;
                                border: none;
                                margin-top: 10px;
                            }

                            /* The Close Button */
                            .modal__header .close {
                                color: #fff;
                                position: absolute;
                                right: 10px;
                                top: 8px;
                                font-size: 30px;
                            }

                            .modal__header .close:hover,
                            .modal__header .close:focus {
                                color: #000;
                                text-decoration: none;
                                cursor: pointer;
                            }
                            .modal-content form {
    border: none;
}
.order-link{
    width: 300px;
background: #fff;
margin: 0px auto;
position: fixed;
z-index: 10000;
box-shadow: 0px 0px 5000px 72px #000;
left: 40%;
display:none;
}

.change-ord-rtn-id{
    width: 100px;
    margin-bottom: 0;
}
.date{
    min-width: 95px;
    width: 95px;
}
