#customDivContainer .sticky .content{
	border-bottom: 1px solid #ddd;
	border-bottom-left-radius: 16px;
    border-bottom-right-radius: 18px;
}
#customDivContainer .sticky .content .pull-left .type{
	background:white;
	color:#1976d2;
	border-radius:20px;
	cursor: pointer;
}
#customDivContainer .sticky .content .pull-left .type:hover, #customDivContainer .sticky .content .pull-left .checked{
	background:#1976d2;
	color:white;
}

#customDivContainer .sticky .content .pull-left{
	margin:10px;
}
#customDivContainer .sticky .content .pull-left .filters{
	display: inline-block;
	color: #555555;
	font-size: 13px;
    padding: 0 15px;
    line-height: 34px;
    text-align: right;
    position: relative;
    text-decoration: none;
    /*margin-right: 20px;*/
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    background: white;
}
#customDivContainer .sticky .content .pull-left .filters:hover,#customDivContainer .sticky .content .pull-left .selected{
	color: #1976d2;
	border-bottom: 1px #1976d2 solid;
}
#tickets{
	border-top:2px #dcdcdc solid;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.list{
	padding:10px;
}

.left_slide_bar_report {
padding: 15px 0;
border-top: 0;
}
.left_slide_bar_report > h3 {
font-size: 14px;
color: #3f3f3f!important;
font-weight: bold;
display: block;
padding: 10px 0 10px 10px;
outline: none;
position: relative;
cursor: pointer;
}
.left_slide_bar_report > h3 i {
position: absolute;
right: 10px;
top: 15px;
width: 10px;
height: 10px;
background: transparent;
border-left: 2px #3f3f3f solid;
border-bottom: 2px #3f3f3f solid;
transform: rotate(-137deg) skew(0deg);
-webkit-transform:rotate(-137deg) skew(0deg);
-ms-transform:rotate(-137deg) skew(0deg);
}
.left_slide_bar_report ul {
list-style: none;
border-bottom: 1px #ccc solid;
padding-left: 25px;
}
.left_slide_bar_report ul li {
position: relative;
}
.left_slide_bar_report ul ul li a {
color: #555555;
}
.left_slide_bar_report ul ul {
border: 0;
padding-bottom: 10px;
padding-left: 10px;
}
.left_slide_bar_report ul li a ,.left_slide_bar_report ul li p{
color: #555555;
text-decoration: none;
display: block;
padding: 10px 0;
position: relative;
font-size: 12px;
}

.left_slide_bar_report ul li span {
position: absolute;
right: 5px;
background-color: #9d9d9d;
border-radius: 10px;
font-size: 12px;
color: #fff;
width: 30px;
height: 20px;
text-align: center;
line-height: 20px;
}
.left_slide_bar_report ul li ul span{
    background-color: #9F9FFF;
    right: 20px;
}
.left_slide_bar_report ul li ul li ul span{
    background-color: #9FFF9F;
    right: 35px;
}
.left_slide_bar_report a.active{ color: #1976D2;}
.filterelement{
	display: inline-block;
	    margin: -3px;
    padding-right: 100px;
        width: 305px;
}
a.fltrshw {
    padding-left: 0px;
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 18px;
    margin: auto;
 
}
.div-table{
  display:table;         
  width:auto;              
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
  margin-left: 50px;
}
.div-table-row{
  display:table-row;
  width:auto;
  clear:both;
}
.filterelement span {
    padding-right: 5px;
    
}

.filterelement select {
    width: 223px;
}
.tt{
    display: block;
}
.div-table input[type=submit]{
        padding: 8px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 374px;
    display: block;
    margin-top: 15px;
}
input[type=date]{
    width: 223px;
}
.datetimepicker{
    width: 223px;
    padding: 5px;
}
#filterForm {
    background-color: #fff;
    border: none; 
    border-top: 0;
    box-shadow: none; 
}